name: AWS Deploy Dev

on:
  push:
  schedule:
    - cron:  '0 11 * * *'

jobs:
  build:
    name: Job build and deploy to DEV
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: sh ./build-script.sh